 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, my name is Harrison. I am currently a Computer Science student at Virginia Commonwealth University. I have a passion for building software and learning new technology.</p>
                </div>
                <div class="col-lg-4">
                    <p>Outside of writing code and studying I spend most of my time with my fiancé, playing video games, watching movies, and hanging out with friends. I grew up in Danville, VA a small town in southern Virginia.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="assets/HarrisonCookResume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-file-o"></i>  Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
